{% block messages %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}

    <div class="alert alert-danger alert-dismissable fade show" role="alert">
      {{ message }}
    </div>

    {% elif category == 'info' %}

    <div class="alert alert-info alert-dismissable fade show" role="alert">
      {{ message }}
    </div>

    {% else%}

    <div class="alert alert-success alert-dismissable fade show" role="alert">
      {{ message }}
      <br>
      <a href="{{ url_for('views.home') }}">Register again</a>
    </div>

    {% endif %}
    {% endfor %}			
  {% endif %}
  {% endwith %}
{% endblock %}